
<div>
    <body class="body">
        <h1 style="text-align:center;"><b> Autor: </b></h1>
        <h3> Jelena Čeperković</h3>
        <h3> Inženjerski menadžment</h3>
        <h3> Inženjer informacionih tehnologija</h3>
        &nbsp;
        <p style="text-align:center;">
            <img src="https://cdn3.euraxess.org/sites/default/files/migration/euraxess_service_centre/ftn_novi_sad.jpg" width="250px" height="250px">
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <img src="https://breaknback.files.wordpress.com/2017/11/information-technology-s.png?w=710" width="250px" height="250px">
        </p>
    </body>
</div>